---
- name: ensure dir exists
  become: true
  ansible.builtin.file:
    path: "{{ config_path }}/nzbhydra2"
    mode: 0777
    owner: "{{ puid }}"
    group: "{{ pgid }}"
    state: directory
# nzbhydra2
- name: Set db
  ansible.builtin.set_fact:
    databases: "{{ databases | default({}) | combine({'nzbhydra2': {'name':'nzbhydra', 'user':'nzbhuser', 'pass':'asdfasdfas'}}) }}"
- name: Nzbhydra2
  community.docker.docker_container:
    name: nzbhydra2
    image: lscr.io/linuxserver/nzbhydra2:latest
    state: started
    cpus: 1.0
    pull: true
    # user: "{{ puid | string }}"
    # groups:
    #   - "{{ pgid | string }}"
    env:
      PGUID: "{{ pgid | string }}"
      PUID: "{{ puid | string }}"
      TZ: "{{ tz }}"
    ports:
      - 5076:5076/tcp
    network_mode: default
    networks:
      - name: "{{ network }}"
    mounts:
      - source: "{{ config_path }}/nzbhydra2"
        target: /config
        type: bind
        read_only: false
      - source: "{{ download_base }}"
        target: /downloads
        type: bind
        read_only: false
    restart_policy: unless-stopped
