# beets/tasks/main.yml
---
- name: Ensure dir exists
  become: true
  ansible.builtin.file:
    path: "{{ config_path }}/beets"
    mode: 0777
    owner: "{{ puid }}"
    group: "{{ pgid }}"
    state: directory
- name: Beets
  community.docker.docker_container:
    name: beets
    state: started
    pull: true
    image: ghcr.io/linuxserver/beets:latest
    hostname: beets
    restart_policy: unless-stopped
    cpus: 0.75
    env:
      PGUID: "{{ pgid | string }}"
      PUID: "{{ puid | string }}"
      TZ: "{{ tz }}"
    ports:
      - 8337:8337/tcp
    network_mode: default
    mounts:
      - source: "{{ config_path }}/beets"
        target: /config
        read_only: false
        type: bind
      - source: "{{ download_base }}"
        target: /downloads
        type: bind
        read_only: false
      - source: "{{ library_path }}/music"
        target: /music
        type: bind
        read_only: false
- name: Test set fact
  ansible.builtin.set_fact:
    var3: "{{ var3 | default({}) | combine({'asdf': 'test'}) }}"
