---
- name: Ensure dir exists
  become: true
  ansible.builtin.file:
    path: "{{ config_path }}/bazarr"
    mode: 0777
    owner: "{{ puid }}"
    group: "{{ pgid }}"
    state: directory
- name: bazarr
  community.docker.docker_container:
    name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    state: started
    cpus: 0.7
    pull: true
    env:
      PGUID: "{{ pgid | string }}"
      PUID: "{{ puid | string }}"
      TZ: "{{ tz }}"
    ports:
      - 6767:6767/tcp
    networks:
      - name: "{{ network }}"
    mounts:
      - source: "{{ config_path }}/bazarr"
        target: /config
        type: bind
        read_only: false
      - source: "{{ download_base }}"
        target: /downloads
        type: bind
        read_only: false
      - source: "{{ library_path }}"
        target: /libraries
        type: bind
        read_only: false
    restart_policy: unless-stopped
