---
- name: ensure dir exists
  become: true
  ansible.builtin.file:
    path: "{{ config_path }}/lidarr"
    mode: 0777
    owner: "{{ puid }}"
    group: "{{ pgid }}"
    state: directory
- name: lidarr

  community.docker.docker_container:
    name: lidarr
    image: lscr.io/linuxserver/lidarr:latest
    state: started
    cpus: 1.0
    pull: true
    env:
      PGUID: "{{ pgid | string }}"
      PUID: "{{ puid | string }}"
      TZ: "{{ tz }}"
    ports:
      - 8686:8686/tcp
    network_mode: default
    networks:
      - name: "{{ network }}"
    mounts:
      - source: "{{ config_path }}/lidarr"
        target: /config
        type: bind
        read_only: false
      - source: "{{ download_base }}"
        target: /downloads
        type: bind
        read_only: false
      - source: "{{ library_path }}"
        target: /libraries
        type: bind
        read_only: false
    restart_policy: unless-stopped
