---
- name: ensure dir exists
  become: true
  ansible.builtin.file:
    path: "{{ config_path }}/readarr"
    mode: 0777
    owner: "{{ puid }}"
    group: "{{ pgid }}"
    state: directory
- name: readarr

  community.docker.docker_container:
    name: readarr
    image: ghcr.io/linuxserver/readarr:nightly
    state: started
    pull: true
    cpus: 1.0
    env:
      PGUID: "{{ pgid | string }}"
      PUID: "{{ puid | string }}"
      TZ: "{{ tz }}"
    ports:
      - 8787:8787/tcp
    network_mode: default
    networks:
      - name: "{{ network }}"
    mounts:
      - source: "{{ config_path }}/readarr"
        target: /config
        type: bind
        read_only: false
      - source: "{{ download_base }}"
        target: /downloads
        type: bind
        read_only: false
      - source: "{{ library_path }}/books"
        target: /books
        type: bind
        read_only: false
    restart_policy: unless-stopped
