# ombi/tasks/main.yml
---
- name: ensure dir exists
  become: true
  ansible.builtin.file:
    path: "{{ config_path }}/ombi"
    mode: 0777
    owner: "{{ puid }}"
    group: "{{ pgid }}"
    state: directory
- name: ombi
  community.docker.docker_container:
    name: ombi
    image: lscr.io/linuxserver/ombi:latest
    state: absent
    pull: true
    cpus: 1.0
    env:
      PGUID: "{{ pgid | string }}"
      PUID: "{{ puid | string }}"
      TZ: "{{ tz }}"
    ports:
      - 3579:3579/tcp
    networks:
      - name: "{{ network }}"
    mounts:
      - source: "{{ config_path }}/ombi"
        target: /config
        type: bind
        read_only: false
    restart_policy: unless-stopped
